node_modules
npm-debug.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
dist
.git
.gitignore
README.md
.nyc_output
coverage
.tmp
.cache
.vscode
.idea
*.log
*.pid
*.seed
*.pid.lock
.DS_Store
Thumbs.db
.npm
.eslintcache
.optional/
.replit
replit.nix
attached_assets